@charset "utf-8";
/* CSS Document */


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
   	background: #fff;
   	padding-bottom: 20px;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
   	line-height: 147%;
}
  
h1,h4,h5,h6   {
     	font-size: 12px;
     	color: #000;
     	font-weight: bold;
}

h2 a,  
h2 a:hover,   
h2   {
        color: #000;
	font-weight: bold;
	font-size: 14px;
	margin:0;
	padding:0;  
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none;
}

h3   {
        color: #000;
	font-weight: normal;
	font-size: 12px;
	text-transform: none;
	margin-bottom: 10px;
	padding-top: 0;
	margin-top: 3px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;   
}

a    {
       color: #000;
}

a:hover {
	color: #999999;
}

#top {
	width: 100%;
	height: 20px;
	border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8;
	margin-top: 50px;
}
	
.container {
	width: 770px;
	margin-left: 40px;
}

#logo {
	margin-top: 30px;
	width: 100%;			
}

#main {
	width: 750px;
	margin-top: 100px;
	display: inline-block;
	padding-bottom: 40px;
}

#left {
	width: 205px;
	border-top: solid 3px #000;
	float: left;
	margin-right: 20px;
}

#left ul {
	border-top: solid 1px #ccc;
	margin:0;
	padding:0;
	float:left;
	width: 100%;
}

#left ul li {
	list-style: none;
	width: 100%;
	border-bottom: solid 1px #ccc;
	height: 15px;
	line-height: 15px;
               text-decoration: none; 
	margin:0;
	padding:0;
	float:left;
}

#left ul li:hover {
	background: #e8e8e8;
}

#left a {
	color: #000;
	font-size: 11px;
	text-decoration: none;
}

#left .block {
	margin-bottom: 15px;
} 

#left h3 {
	text-transform: uppercase;
}

#content {
	width: 480px;
	float: left;
}

#bottom { 
	width: 750px;
	clear: left;
	float: left;
	padding-bottom: 50px;
}

#bottom .block {
	width: 205px;
	float: left;
	margin-right: 35px;
	border-top: solid 3px #000;
}

#bottom h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

#bottom .form-submit {
	margin-top: 5px;
}

#footer {
	clear: left;
	width: 100%;
	height: 20px;
	border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8;
}

#footerin {
	width: 685px;
	margin-left: 40px;
}

#searchBox {
	width: 160px;
	float: left;
	height:14px;
	margin-top: 1px;
}

#searchBox input {
	width: 157px;
	background: url(images/searchbg.png) no-repeat right;
	color: #999999;
	border: solid 1px #e8e8e8;
	font-size: 11px;
	font-weight: normal;
	height: 14px;
	padding-left: 3px;
}

#footermenu {
	width: 400px;
	float: right;
	height: 20px;
}

#footermenu ul {
	float: right;
	margin:0;
	padding:0;
	margin-top: 5px;
}

#footermenu ul li {
	line-height: 8px;
	padding-right: 15px;
	border-right: solid 2px #999999;
	list-style: none;
	float: left;
	margin-left: 15px;
	height: 10px;
}

#footermenu a {
	color: #999999;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
}

#mainMenu h3,
#credits h3,
#searchBox h3,
#searchBox label,
#searchBox .form-submit,
#footermenu h3 {
	display: none;
}

#credits {
	width: 600px;
	margin-left: 40px;
	clear: left;
	margin-top: 3px;
}

#credits .block {
	font-size: 11px;
	color: #999999;
	clear: left;
	margin-bottom: 10px;
}

#credits a {
	color: #999999;
}

h2.contentheading, h2.componentheading {
	margin-bottom: 20px;
	margin-top: 10px;
}

.clear {
	clear: both;
}

p { margin-top:5px; }

ul { 
	margin: 2px;
	padding: 6px;
	padding-left: 15px;
}

li {	
	padding-left: 1px;
	line-height: 150%;
}

ul.arrow1 li,
ul.arrow2 li {
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

textarea,
input { 
	border: solid 1px #ccc; 
	color: #000; 
}

.form-submit { 
	background: none; 
	border: solid 1px #ccc; 
	color: #000; 
	cursor: pointer;
}

.form-submit:hover {
	background: #e8e8e8;
}

#mainMenu {
	float: left;
 	width:650px;
 	height: 20px;
 	margin-top: 0;
 	margin-right: 0;
 	margin-left: 40px;
}

	
#mainMenu ul, 
#mainMenu li {
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	margin: 0;
}

#mainMenu ul {
	height: 20px;
} 

#mainMenu ul li {
	float:left;
	height: 20px;
	line-height:20px;
	padding-right: 50px;
}

#mainMenu a:link, 
#mainMenu a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#mainMenu ul li.active-trail a,
#mainMenu ul li#current {
	color: #cc0066;
}

#mainMenu ul li.active-trail a *,
#mainMenu ul li#current * {	
	color:#cc0066;
}

#mainMenu ul li ul {
	display: none;
}

#mainMenu ul li ul li {
	display: none;
}

#mainMenu li:hover, 
#mainMenu li.over {
	color: #cc0066;

}

#mainMenu li:hover *, 
#mainMenu li.over * {
	color: #cc0066;
}

#mainMenu ul li { 
	position:relative;
	
}

#mainMenu ul li ul {
	display:none;
}

#mainMenu ul li ul li {
	display:none;
}

#mainMenu ul li ul li * {
	display:none;
}

#mainMenu ul li:hover ul, 
#mainMenu ul li.over ul {
	display:block;
}